body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../assets/BG13.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#first-name::placeholder,
#last-name::placeholder,
#city::placeholder,
#mail::placeholder,
#mobile-number::placeholder,
#address::placeholder,
#postal-code::placeholder,
#password::placeholder,
#confirm-password::placeholder {
    color: white;
}

#first-name,
#last-name,
#city,
#mail,
#mobile-number,
#address,
#postal-code,
#password,
#confirm-password {
    color: white;
    width: 100%;
    height: 20px;
}

.input{
    width: 300px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    font-weight: bold;
}

.logo img {
    max-width: 70%;
    height: auto;
}

.already-have-account {
    color: white;
    font-size: 18px;
}

.already-have-account a:hover {
    color: black !important;
}

/* .icon-button1 {
    top: -205px;
    left: -380px;
}
.icon-button2 {
    top: -165px;
    left: -380px;
} */

.register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    background: transparent;
    margin-left: -1000px;
    max-width: 400px;
}

.register-form label {
    color: #fca321;
}

label {
    font-weight: bold;
    width: 100%;
    color: aliceblue;
}

/* input {
    height: 30px;
    width: 280px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
} */

.register-button {
    height: 40px;
    background-color: #fca321;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}

.register-button:hover {
    background-color: black;
    color: #fca321;
}


/* Media Query for Small Screens (e.g., Mobiles) */
@media (max-width: 480px) {
    .logo {
        font-size: 16px;
    }

    .logo img {
        max-width: 30%;
    }

    .options {
        font-size: 18px;
    }

    input {
        height: 7px;
        width: 100%;
        max-width: 240px;
    }

    .forgot-password {
        font-size: 12px;
    }

    .register-button {
        size: 10px;
    }
}

/* Media Query for Medium Screens */
@media (min-width: 481px) and (max-width: 1024px) {
    .logo {
        font-size: 18px;
    }

    .logo img {
        max-width: 50%;
    }

    .options {
        font-size: 20px;
    }

    input {
        max-width: 320px;
    }

    .forgot-password {
        font-size: 16px;
    }
}

/* Media Query for Large Screens */
@media (min-width: 1025px) {
    .logo {
        font-size: 20px;
    }

    .logo img {
        max-width: 80%;
    }

    .options {
        font-size: 24px;
    }

    input {
        max-width: 280px;
    }

    .forgot-password {
        font-size: 17px;
    }
}